{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "next", "next/core-web-vitals"],
  "plugins": ["@typescript-eslint", "prettier"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module",
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "@next/next/no-img-element": "off"
  }
}
